body{
    font-family: "Helvetica Neue", "Microsoft YaHei", "微软雅黑", tahoma, simhei, Arial, sans-serif;
    height: 2000px;
    text-align: center;
    background-color: #eee;
}
a:visited{
    text-decoration:none;
    color: #fff;
}
a:link{
    text-decoration:none;
    color: #fff;
}
a:active{
    text-decoration:none;
    color: #fff;
}
a:hover{
    text-decoration:none;
    color: #fff;
}