body{
    font-family: "Helvetica Neue", "Microsoft YaHei", "微软雅黑", tahoma, simhei, Arial, sans-serif;
}
html {
    background: url(/img/static/crescent.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a:visited{
    text-decoration:none;
    color: #fff;
}
a:link{
    text-decoration:none;
    color: #fff;
}
a:active{
    text-decoration:none;
    color: #fff;
}
a:hover{
    text-decoration:none;
    color: #fff;
}