.header{
    position: fixed;
    top: 0px;
    height: 112px;
    width: 100%;
    background-color: #03a9f4;
    overflow: hidden;
    z-index: 1000;
    /*display: none;*/
}
.header_left{
    position: absolute;
    top: 18px;
    left: 10%;
    border-radius: 50%;
    border: solid 2px #fff;
}
.header_left img{
    border-radius: 50%;
}
.desktop{
    position: relative;
    margin-top: 112px;
    margin-left: auto;
    margin-right: auto;
    /*border: solid 2px #000;*/
    width: 1000px;
    height: auto;
}
.topic{
    position: relative;
    display:inline-block;
    margin: 20px;
    height: 222px;
    width: 186px;
    background-color: #fff;
}
