*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    font-family: "Helvetica Neue", "Microsoft YaHei", "微软雅黑", tahoma, simhei, Arial, sans-serif;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a:visited{
    text-decoration:none;
    color: #444444;
}
a:link{
    text-decoration:none;
    color: #444444;
}
a:active{
    text-decoration:none;
    color: #444444;
}
a:hover{
    text-decoration:none;
    color: #444444;
}
button, input, select, textarea {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
input{
    -webkit-appearance: textfield;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
}