/**
 * Welcome screen page css
 * @Sendya <18x@loacg.com>
 */
h1,h2,h3,h4,h5,h6,p,li,a,section{font-family:"Hiragino Sans GB","Microsoft YaHei","Droid Sans Fallback","Source Sans","Wenquanyi Micro Hei","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei","WenQuanYi Zen Hei","Apple LiGothic Medium","SimHei","ST Heiti","WenQuanYi Zen Hei Sharp",sans-serif}
body{background:#fff}
.main{position:absolute;left:50%;top:50%;width:600px;height:300px;margin-left:-300px;margin-top:-200px;transition:all .5s;-moz-transition:all .5s;-webkit-transition:all .5s;-o-transition:all .5s;animation:movebff 1s;-webkit-animation:movebff 1s}
.my-image{position:absolute;width:256px;height:256px;border-radius:50%;top:50%;margin-top:-128px;padding:3px;border:solid 2px #fff}
.my-image img{border-radius:50%}
.main .content{color: rgb(93, 81, 81);position:absolute;top:30px;margin-left:290px;height:260px;width:340px}
.name{font-size:2em}
.name .lv{color:#333;font-size:.8em}
.info{font-size:1.2em}
a{color: rgb(35, 208, 169)}

@media screen and (max-width:800px){
	body{overflow:hidden}
	.main{width:100%;height:600px;top:20%;left:0;margin-top:-80px;margin-left:0;transition:all .5s;-moz-transition:all .5s;-webkit-transition:all .5s;-o-transition:all .5s;animation:moveaff 1s;-webkit-animation:moveaff 1s}
	.my-image{width:256px;height:256px;top:0;left:50%;margin-left:-128px;margin-top:0;border-radius:50%;padding:3px;border:solid 2px #000}
	.main .content{text-align:center;color:#000;position:absolute;top:300px;left:0;margin-left:0;width:100%}
}

@keyframes movebff{
	from{top:70%;opacity:.1}to{top:50%;opacity:1}
}

@-webkit-keyframes movebff{
	from{top:70%;opacity:.1}to{top:50%;opacity:1}
}

@keyframes moveaff{
	from{top:40%;opacity:1}to{top:20%;opacity:.1}
}

@-webkit-keyframes moveaff{
	from{top:40%;opacity:1}to{top:20%;opacity:.1}
}
